# Dealing with missing data

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# Create a DataFrame with some NaN values
data = {
    "A": [1.0, 5.0, 10.0],
    "B": [2.0, 6.0, 11.0],
    "C": [3.0, np.nan, 12.0],
    "D": [4.0, 8.0, np.nan],
}

In [ ]:
# Create the DataFrame
df = pd.DataFrame(data)
display(df)

In [ ]:
# Check for missing values in each column
df.isnull().sum()

## Eliminating samples or features with missing values

In [ ]:
# Drop rows with any missing values
df.dropna()

In [ ]:
# Drop columns with any missing values
df.dropna(axis=1)

In [ ]:
# Introduce a NaN value for demonstration
df.loc[3] = np.nan
display(df)

In [ ]:
# Drop rows where all elements are NaN
df = df.dropna(how="all")
display(df)

In [ ]:
# Drop rows with less than 4 non-NaN values
df.dropna(thresh=4)

In [ ]:
# Drop rows with missing values in column 'C'
df.dropna(subset=["C"])

# Filling in missing data

In [ ]:
# Display the final DataFrame
display(df)

In [ ]:
# Fill missing values with 0
dft = df.fillna(0)
display(dft)

In [ ]:
# Fill missing values with -1
dft = df.fillna(-1)
display(dft)

In [ ]:
# Show mean of each column, ignoring NaN values
df.mean()

In [ ]:
# Fill missing values with the mean of each column. This is called mean imputation.
dft = df.fillna(df.mean())
display(dft)