# Pivot and Melt: Converting between Long and Wide Format

Two common data formats in data analysis are **wide** and **long** formats.

- **Wide Format**: Each variable is a column, making it more readable and compact.
- **Long Format**: Each observation is a row, with identifiers and values, which is often better for analysis.

Pandas provides powerful functions to convert between these formats: `melt()` for wide to long, and `pivot()` for long to wide.

In [ ]:
import pandas as pd

In [ ]:
# Example 1: Student Exam Scores (Simple and Intuitive)
# Wide format - easy to read, one row per student
wide_scores = pd.DataFrame(
    {
        "Student": ["Alice", "Bob", "Charlie", "Diana"],
        "Math": [85, 92, 78, 88],
        "English": [90, 88, 95, 80],
        "Science": [88, 85, 82, 92],
    }
)

display(wide_scores)

In [ ]:
# Convert to long format using melt

long_scores = wide_scores.melt(
    id_vars=["Student"],  # Keep Student as identifier
    var_name="Subject",  # Name of the new column with subject names
    value_name="Score",  # Name of the new column with scores
)

display(long_scores)

In [ ]:
# Convert back to wide format using pivot

pivoted_scores = long_scores.pivot(
    index=["Student"],  # Rows
    columns=["Subject"],  # Columns
    values="Score",  # Values to fill
)

display(pivoted_scores)

In [ ]:
import seaborn as sns
# Why long format is useful: Easy aggregation and visualization

# Calculate average score per subject using groupby in pandas
average_scores = long_scores.groupby("Subject")["Score"].mean().reset_index()
display(average_scores)

# We use seaborn to create a boxplot of scores by subject. We will learn more about visualization later.
sns.boxplot(data=long_scores, x="Subject", y="Score", color="skyblue").set_title(
    "Average Scores by Subject"
)

### Example 1: Sales Data by Region and Month

In [ ]:
sales_wide = pd.DataFrame(
    {
        "Region": ["North", "South", "East", "West"],
        "January": [15000, 12000, 18000, 14000],
        "February": [16000, 13000, 17500, 15000],
        "March": [18000, 14000, 19000, 16500],
    }
)
display(sales_wide)

# Convert to long format
sales_long = sales_wide.melt(id_vars=["Region"], var_name="Month", value_name="Sales")
display(sales_long)

# Convert back to wide format
sales_pivoted = sales_long.pivot(index=["Region"], columns=["Month"], values="Sales")
display(sales_pivoted)

### Example 2: Product Ratings by Customer

In [ ]:
ratings_data = {
    "Customer": {
        0: "John",
        1: "Sarah",
        2: "Mike",
        3: "John",
        4: "Sarah",
        5: "Mike",
        6: "John",
        7: "Sarah",
        8: "Mike",
    },
    "Product": {
        0: "Product_A",
        1: "Product_A",
        2: "Product_A",
        3: "Product_B",
        4: "Product_B",
        5: "Product_B",
        6: "Product_C",
        7: "Product_C",
        8: "Product_C",
    },
    "Rating": {0: 5, 1: 4, 2: 5, 3: 3, 4: 5, 5: 4, 6: 4, 7: 4, 8: 3},
}
ratings_long = pd.DataFrame(ratings_data)
display(ratings_long)

# Create wide format
ratings_wide = ratings_long.pivot(
    index=["Customer"], columns=["Product"], values="Rating"
)
display(ratings_wide)

# Convert back to long format
# Reset index to turn 'Customer' back into a column
ratings_wide_reset = ratings_wide.reset_index(drop=False)

# Melt the DataFrame to long format
ratings_long_converted = ratings_wide_reset.melt(
    id_vars=["Customer"], var_name="Product", value_name="Rating"
)
display(ratings_long_converted)

# Using Aggregation with Pivot Tables

Difference between `pivot()` and `pivot_table()` is that the latter allows for aggregation when there are multiple values for the same index/column pair.

In [ ]:
# Create a sample dataset
data = {
    "Product": ["Apple", "Banana", "Apple", "Banana", "Apple", "Banana"],
    "Salesperson": ["Alice", "Bob", "Alice", "Bob", "Alice", "Bob"],
    "Sales": [100, 150, 120, 180, 110, 200],
}

sales_long = pd.DataFrame(data)
display(sales_long)

In [ ]:
# If we try to pivot this data, it will raise an error because there are duplicate entries for the same Product and Salesperson combination.
# sales_pivoted = sales_long.pivot(index='Product', columns='Salesperson', values='Sales')

In [ ]:
# We will use pivot_table instead, which can handle duplicates by aggregating them.
# Calculate total sales per product and salesperson
sales_pivoted = sales_long.pivot_table(
    index=["Product"],
    columns=["Salesperson"],
    values="Sales",
    aggfunc="sum",  # Sum sales for duplicate entries
)
display(sales_pivoted)

In [ ]:
# Try different aggregation functions
# Calculate mean sales per product and salesperson
sales_pivoted_mean = sales_long.pivot_table(
    index=["Product"],
    columns=["Salesperson"],
    values="Sales",
    aggfunc="mean",  # Mean sales for duplicate entries
)
display(sales_pivoted_mean)

### Example 4: Adult Database

In [ ]:
# Load the adult dataset
adults = pd.read_csv("./data/adult.csv")
adults.head()

In [ ]:
adults.info()

In [ ]:
adults.columns

In [ ]:
# Create pivot table to analyze age by occupation and workclass
pivot_table = adults.pivot_table(
    index=["education"],
    columns=["gender"],
    values="hours-per-week",
    aggfunc="mean",
)
display(pivot_table)

In [ ]:
# Create pivot table to analyze age by occupation and workclass
pivot_table_age = adults.pivot_table(
    index=["occupation"],
    columns=["workclass"],
    values="age",
    aggfunc="mean",
)
display(pivot_table_age)