In [1]:
import pandas as pd

In [2]:
sales = pd.read_excel("original_data/02 - Bicycle Sale - Detailed.xlsx")
customers = pd.read_csv("original_data/03 - CustomerDemographics.csv")

In [3]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113036 entries, 0 to 113035
Data columns (total 15 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Date              113036 non-null  datetime64[ns]
 1   Year              113036 non-null  int64
 2   Customer ID       113036 non-null  int64
 3   Customer Age      113036 non-null  int64
 4   Customer Gender   113036 non-null  object
 5   Country           113036 non-null  object
 6   State             113036 non-null  object
 7   Product Category  113036 non-null  object
 8   Sub Category      113036 non-null  object
 9   Product           113036 non-null  object
 10  Order Quantity    113036 non-null  int64
 11  Unit Cost         113036 non-null  int64
 12  Unit Price        113036 non-null  int64
 13  Cost              113036 non-null  int64
 14  Revenue           113036 non-null  int64
dtypes: datetime64[ns](1), int64(8), object(6)
memory usage: 12.9+ MB

In [4]:
sales.duplicated().sum()

np.int64(1000)

In [5]:
sales[sales.duplicated()]

,Date,Year,Customer ID,Customer Age,Customer Gender,Country,State,Product Category,Sub Category,Product,Order Quantity,Unit Cost,Unit Price,Cost,Revenue
1021,2013-12-19,2013,28931,22,M,Australia,New South Wales,Accessories,Bike Stands,All-Purpose Bike Stand,9,59,159,531,1245
1091,2015-09-30,2015,11068,42,F,Australia,Victoria,Accessories,Bottles and Cages,Mountain Bottle Cage,5,4,10,20,40
1093,2013-10-24,2013,11068,42,F,Australia,Victoria,Accessories,Bottles and Cages,Mountain Bottle Cage,2,4,10,8,16
1095,2015-10-24,2015,11068,42,F,Australia,Victoria,Accessories,Bottles and Cages,Mountain Bottle Cage,1,4,10,4,8
1193,2016-01-15,2016,11248,42,M,France,Seine Saint Denis,Accessories,Bottles and Cages,Water Bottle - 30 oz.,14,2,5,28,57
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111029,2014-02-18,2014,26499,49,F,United States,California,Bikes,Touring Bikes,"Touring-1000 Blue, 60",1,1482,2384,1482,2336
111031,2016-02-18,2016,26499,49,F,United States,California,Bikes,Touring Bikes,"Touring-1000 Blue, 60",1,1482,2384,1482,2336
111265,2014-04-27,2014,27295,31,M,United States,Washington,Bikes,Touring Bikes,"Touring-1000 Blue, 50",1,1482,2384,1482,1860
111953,2013-09-20,2013,29256,42,M,Canada,British Columbia,Bikes,Touring Bikes,"Touring-3000 Yellow, 44",1,461,742,461,735
111955,2015-09-20,2015,29256,42,M,Canada,British Columbia,Bikes,Touring Bikes,"Touring-3000 Yellow, 44",1,461,742,461,735

In [6]:
# Removing customer-related columns
sales = sales.drop(columns=["Customer Age", "Customer Gender"])

# Removing financial columns
sales = sales.drop(columns=["Year", "Cost", "Revenue"])

In [7]:
sales

,Date,Customer ID,Country,State,Product Category,Sub Category,Product,Order Quantity,Unit Cost,Unit Price
0,2013-11-26,11019,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120
1,2015-11-26,11019,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120
2,2014-03-23,11039,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,23,45,120
3,2016-03-23,11039,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,20,45,120
4,2014-05-15,11046,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,4,45,120
...,...,...,...,...,...,...,...,...,...,...
113031,2016-04-12,29443,United Kingdom,England,Clothing,Vests,"Classic Vest, S",3,24,64
113032,2014-04-02,29462,Australia,Queensland,Clothing,Vests,"Classic Vest, M",22,24,64
113033,2016-04-02,29462,Australia,Queensland,Clothing,Vests,"Classic Vest, M",22,24,64
113034,2014-03-04,29472,France,Seine (Paris),Clothing,Vests,"Classic Vest, L",24,24,64
113035,2016-03-04,29472,France,Seine (Paris),Clothing,Vests,"Classic Vest, L",23,24,64

In [8]:
# Inject some missing data rows for studetn practice
import numpy as np

rows_missing = np.random.choice(sales.index, size=10, replace=False)
sales.loc[rows_missing, "Date"] = np.nan

In [9]:
sales.isna().sum()

Date                10
Customer ID          0
Country              0
State                0
Product Category     0
Sub Category         0
Product              0
Order Quantity       0
Unit Cost            0
Unit Price           0
dtype: int64

In [10]:
customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18484 entries, 0 to 18483
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                18484 non-null  int64
 1   Customer ID       18484 non-null  int64
 2   MaritalStatus     18484 non-null  object
 3   YearlyIncome      18484 non-null  int64
 4   TotalChildren     18484 non-null  int64
 5   EnglishEducation  18484 non-null  object
 6   HouseOwnerFlag    18484 non-null  bool
dtypes: bool(1), int64(4), object(2)
memory usage: 884.6+ KB

In [11]:
customers.head()

,ID,Customer ID,MaritalStatus,YearlyIncome,TotalChildren,EnglishEducation,HouseOwnerFlag
0,1,11000,M,90000,2,Bachelors,True
1,2,11001,S,60000,3,Bachelors,False
2,3,11002,M,60000,3,Bachelors,True
3,4,11003,S,70000,0,Bachelors,False
4,5,11004,S,80000,5,Bachelors,True

In [12]:
customers = customers.drop(columns=["ID"])

In [13]:
customers

,Customer ID,MaritalStatus,YearlyIncome,TotalChildren,EnglishEducation,HouseOwnerFlag
0,11000,M,90000,2,Bachelors,True
1,11001,S,60000,3,Bachelors,False
2,11002,M,60000,3,Bachelors,True
3,11003,S,70000,0,Bachelors,False
4,11004,S,80000,5,Bachelors,True
...,...,...,...,...,...,...
18479,29479,M,30000,1,Graduate Degree,True
18480,29480,S,30000,3,Graduate Degree,True
18481,29481,S,30000,3,Graduate Degree,False
18482,29482,M,30000,3,Bachelors,True
18483,29483,M,30000,0,Bachelors,True

In [14]:
# Random customer ages with reasonale distribution
np.random.seed(42)
customers["Age"] = np.random.normal(loc=35, scale=10, size=len(customers)).astype(int)
customers["Age"] = customers["Age"].clip(lower=18, upper=70)

In [15]:
# Random customer genders
genders = ["Male", "Female"]
customers["Gender"] = np.random.choice(
    genders, size=len(customers), replace=True, p=[0.7, 0.3]
)

In [16]:
# Fill in missing genders
np.random.seed(24)
missing_gender_indices = np.random.choice(customers.index, size=125, replace=False)
customers.loc[missing_gender_indices, "Gender"] = np.nan

In [17]:
# Removing some rows to simulate missing data when merging
customers = customers.drop(index=np.random.choice(customers.index, size=50, replace=False))

In [18]:
sales

,Date,Customer ID,Country,State,Product Category,Sub Category,Product,Order Quantity,Unit Cost,Unit Price
0,2013-11-26,11019,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120
1,2015-11-26,11019,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120
2,2014-03-23,11039,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,23,45,120
3,2016-03-23,11039,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,20,45,120
4,2014-05-15,11046,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,4,45,120
...,...,...,...,...,...,...,...,...,...,...
113031,2016-04-12,29443,United Kingdom,England,Clothing,Vests,"Classic Vest, S",3,24,64
113032,2014-04-02,29462,Australia,Queensland,Clothing,Vests,"Classic Vest, M",22,24,64
113033,2016-04-02,29462,Australia,Queensland,Clothing,Vests,"Classic Vest, M",22,24,64
113034,2014-03-04,29472,France,Seine (Paris),Clothing,Vests,"Classic Vest, L",24,24,64
113035,2016-03-04,29472,France,Seine (Paris),Clothing,Vests,"Classic Vest, L",23,24,64

In [19]:
dfm = sales.merge(customers, left_on="Customer ID", right_on="Customer ID", how="left")

In [20]:
dfm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113036 entries, 0 to 113035
Data columns (total 17 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Date              113026 non-null  datetime64[ns]
 1   Customer ID       113036 non-null  int64
 2   Country           113036 non-null  object
 3   State             113036 non-null  object
 4   Product Category  113036 non-null  object
 5   Sub Category      113036 non-null  object
 6   Product           113036 non-null  object
 7   Order Quantity    113036 non-null  int64
 8   Unit Cost         113036 non-null  int64
 9   Unit Price        113036 non-null  int64
 10  MaritalStatus     112844 non-null  object
 11  YearlyIncome      112844 non-null  float64
 12  TotalChildren     112844 non-null  float64
 13  EnglishEducation  112844 non-null  object
 14  HouseOwnerFlag    112844 non-null  object
 15  Age               112844 non-null  float64
 16  Gender            111992 non-null  object
dtypes: datetime64[ns](1), float64(3), int64(4), object(9)
memory usage: 14.7+ MB

In [ ]:
sales.to_excel("sales.xlsx", index=False)
customers.to_excel("customers.xlsx", index=False)