# Homework 2-2: Pandas

**Instructions:**
- Complete all exercises below
- Test your code to ensure it works correctly
- Submit your completed notebook

---

### Exercise 2.1: Import Pandas
Import the pandas library with the alias `pd`.

In [ ]:
# Your code here

### Exercise 2.2: Create a DataFrame
Create a DataFrame from the following dictionary:
```python
student_scores = {
    "math": [85, 92, 78, 95],
    "science": [88, 85, 92, 89],
    "english": [90, 88, 85, 93]
}
```
Set the index to be the student names: ["Alice", "Bob", "Charlie", "Diana"]  
Name the index as "Student" and display the DataFrame.

In [ ]:
# Your code here

### Exercise 2.3: Create a Series
Create a Series for the "math" column from the DataFrame you created above and display it.

In [ ]:
# Your code here

### Exercise 2.4: Working with IMDB Dataset
Load the IMDB movie dataset from "IMDB-Movie-Data.csv" with "Title" as the index column. Store it in a variable called `movies` and display it.

In [ ]:
# Your code here

### Exercise 2.5: DataFrame Exploration
Using the `movies` DataFrame:
1. Display the first 10 rows
2. Display the last 3 rows
3. Display the shape of the DataFrame
4. Display the column names

In [ ]:
# Your code here

### Exercise 2.6: Statistical Summary
Display the statistical summary (using `.describe()`) of the `movies` DataFrame.

In [ ]:
# Your code here

### Exercise 2.7: Analyzing Directors
For the "Director" column:
1. Count the number of unique directors
2. Display the top 5 most frequent directors with their counts

In [ ]:
# Your code here

### Exercise 2.8: Filtering Data
Filter the `movies` DataFrame to display only movies:
1. With a runtime less than 120 minutes
2. Directed by "Christopher Nolan" or "Quentin Tarantino" or "Steven Spielberg"
3. Released between 2008 and 2015 (inclusive) with votes greater than 500,000

In [ ]:
# Your code here

### Exercise 2.9: Creating New Columns with Apply
Create a new column called "runtime_category" that categorizes movies based on their runtime:
- If runtime is >= 150 minutes: "long"
- If runtime is >= 90 minutes and < 150 minutes: "medium"
- Otherwise: "short"

Use the `.apply()` method with a custom function or lambda function. Display the first 15 rows with the new column.

In [ ]:
# Your code here